/* Homepage */
.link{
    color:white;
    /* cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right; */
    
}
.link:link{
    text-decoration: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
}

.greenArray{
    background-color: #B9BE32;
    width: auto;
    height: 350px;
}

.automaaTestH{
    float: left;
    background: #B9BE32;
    color: black;
    border: 2px solid #B9BE32;
    cursor: pointer;
    font-size: 30px;
    font: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subTextH{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.TitleH{
    text-align: center;
    padding-top: 15%;
    color: white;
    font-family: yummo;
    /* -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.loguith{
    background: #B9BE32;
    color: white;
    border: 2px solid #B9BE32;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
}

.TestScripMakeBtn {
    border: 2px solid #E28C45;
    background-color: white;
    color: black;
    width: 357.03px;
    height: 150px;
    cursor: pointer;
    text-align: left;
    position:absolute;
    top: 75%;
    left: 10%;
  }

  .ExplainBtn {
    margin: 4px 0px;
    border: 2px solid #86A69D;
    background-color: white;
    color: black;
    padding: 14px 28px;
    width: 357.03px;
    height: 150px;
    cursor: pointer;
    text-align: left;
    position:absolute;
    top: 74.4%;
    left: 38%;
  }

  .RHistoyBtn {
    margin: 40px 12px;
    border: 2px solid #C7579A;
    text-align: left;
    background-color: white;
    color: black;
    padding: 14px 28px;
    width: 357.03px;
    height: 150px;
    cursor: pointer;
    position:absolute;
    transition: .5s ease;
    top: 70%;
    left: 65%;
  }

.CreateScript{
    color: white;
    background-color: #E28C45;
    font-size: 25px;
    width: 357.03px;
    height: 150px;
    padding: 14px 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.CreateScript2{
    color: white;
    background-color: #86A69D;
    font-size: 25px;
}

.CreateScript3{
    color: white;
    background-color: #C7579A;
    font-size: 25px;
}

.hakenBetter{
    position:absolute;
    top: 0%;
    right: 10%;
}

.pgreen{
    color: #B9BE32;
}

/* Questionpage */
.NextQ1{
    margin: 40px 12px;
    color: white;
    background-color: #C7579A;
    font-size: 20px;
    text-align: center;
    border: 2px solid #C7579A;
    width: 278px;
    height: 101px;
    cursor: pointer;
}

.TitleQ{
    padding-top: 15%;
    text-align: center;
    color: white;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: yummo;
}
.subtitleQest{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.haken{
    padding-top: -10%;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* position:absolute; */
    font-size: 30px;
    font: bold;
    /* top: 30%;
    left: 38%; */
}

.container{
    width: 330px;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

.container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .form-outer{
    width: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s case-in-out;
}

.nextBtn2{
    margin: 40px 12px;
    color: white;
    background-color: #C7579A;
    font-size: 20px;
    text-align: center;
    border: 2px solid #C7579A;
    width: 278px;
    height: 101px;
    cursor: pointer;
} 

.prevBtn{
    margin: 40px 12px;
    color: white;
    background-color: #E28C45;
    font-size: 20px;
    text-align: center;
    border: 2px solid #E28C45;
    width: 278px;
    height: 101px;
    cursor: pointer;
} 

.AddBtn{
    margin: 0px 600px;
    color: white;
    background-color: #86A69D;
    font-size: 20px;
    text-align: center;
    border: 2px solid #86A69D;
    width: 278px;
    height: 101px;
    cursor: pointer;
}

.homeReturn{
    background: #B9BE32;
    color: white;
    border: 2px solid #B9BE32;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
}


/* informationpage */
.TitleI{
    text-align: center;
    padding-top: 15%;
    color: white;
    font-family: yummo;
    /* -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/* rapportpage */
.TitleR{
    text-align: center;
    padding-top: 15%;
    color: white;
    font-family: yummo;
    /* -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/* Upload test tool page */
.subTextUpL{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.AnswerUpl{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.titleTools{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.titelAnswere{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
